page-user1 {


#map_canvas{
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index:1;
}
ion-searchbar {
    width: 100%;
    position: relative;
    z-index:11; 
    padding:8px;

}
    


.btn2
{
    width: 35%;
   
   position: absolute;
 

}
.grid-overlay{
    position: absolute;
    z-index:11;  
  
}
.grid{
    padding:-5px;
}


}
